.theme-dark .block {
	color: #eee;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
}
	.theme-dark .block > .section {
		background-color: rgba(0,0,0,.75);
		border-color: rgba(255,255,255,.05);
	}
	.theme .block > .section:first-child {
		margin-top: 0;
	}
	
	.theme-dark .block h1,
	.theme-dark .block h2,
	.theme-dark .block h3 {
		color: #4cf;
	}
	.theme-dark .block h4 {
		color: #eee;
	}
		.theme-dark .block h1 small {
			color: #ccc;
		}
	
	.theme-dark .block > .extra {
		background-color: rgba(0,0,0,.8);
	}
	
	.theme-dark .block .lead {
		color: #ccc;
	}
	
/* Floating Block */
.theme-dark .block.floating { box-shadow: 0 5px 5px rgba(0,0,0,.5); }
	.theme-dark .block.floating > .section { background-color: #333; }
	.theme-dark .block.floating > .section.extra { background-color: #222; }